body {
  background:url("https://st3.depositphotos.com/1194063/15686/i/600/depositphotos_156864962-stock-photo-various-herbs-and-spices.jpg") !important;
  margin: 0; 
}

.bg-image {
    position: relative;
    background: linear-gradient(rgba(8, 8, 8, 0.3), rgba(8, 8, 8, 0.3)), url('https://thumbs.dreamstime.com/b/wooden-table-food-top-view-cafe-102532611.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header-title {
    text-transform: uppercase;
    letter-spacing: 16px;
    color: #fff;
    font-size: 80px;
    margin-bottom: 32px;
  }
  
  .search-box {
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    background-color: darksalmon;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
  
  .search-heading {
    font-size: 30px;
    margin-bottom: 16px;
  }
  
  .detailsPageContent {
    padding-top: 100px !important;
    background-color: aqua;
    margin-top: 10px !important;
  }

  .error-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    color: red;
    font-size: x-large;
    padding: 10px;
    font-weight: bolder;
  }

  .footer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
    font-weight: bolder;
    border: 1px solid red;
  }

  @media (max-width: 768px) {
    .ui.menu .item {
      display: block !important;
      width: auto;
    }
    .ui.menu.menu {
      flex-direction: column;
    }
    .ui.menu.fixed.menu {
      position: static;
    }
    .ui.menu.menu .right.menu {
      margin-top: 1em;
    }
  }
  
  